*,
*::after,
*::before {
    box-sizing: border-box;
}

.main {
    display: inline-block;
    line-height: 30px;
    width: 30px;
    height: 30px;
    padding: 0;
    color: white;
    cursor: pointer;
    border: 1px solid black;
}

.main.close {
    background: black;
    color: black;
}

.find {
    color: black;
}
